/* colors */
$smoky-black: #0B0C10;
$dark-gunmetal: #1F2833;
$silver-sand: #C5C6C7;
$electric-blue: #66FCF1;
$keppel: #45A29E;
$white: #FFFFFF;

$header-bg: $smoky-black;
$sidebar-bg: $dark-gunmetal;
$footer-bg: $keppel;
$pseudo-bg: $dark-gunmetal;

$primary-text: $smoky-black;
$secondary-text: $white;

$primary-border-color: $white;
$secondary-border-color: $electric-blue;

$primary-link-color: $white;
$secondary-link-color: $electric-blue;

$text-regular-weight: 400;
$text-medium-weight: 500;
$text-semi-bold-weight: 600;
$text-bold-weight: 700;