.header {
  background: $header-bg;

  &__wrapper {
    display: flex;
    align-items: center;
    height: 70px;
    padding-inline: 20px;
  }

  &__burger {
    &_btn {
      background: transparent;
      border: none;
      cursor: pointer;
    }

    &_icon {
      font-size: 25px;
      color: $electric-blue;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    
    &_icon {
      width: 30px;
      height: 100%;
    }
    
    &_text {
      display: block;
      white-space: nowrap;
      font-size: 18px;
      font-weight: 700;
      color: $secondary-text;
    }
  }
}