.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: $header-bg;

  &__wrapper {
    display: flex;
    align-items: center;
    height: 4.375rem;
    padding-inline: 1.25rem;
  }

  &__burger {
    &_btn {
      display: flex;
      align-items: center;
      background: transparent;
      border: none;
      cursor: pointer;
    }

    &_icon {
      font-size: 1.563rem;
      color: $electric-blue;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    text-decoration: none;
    
    &_icon {
      width: 1.875rem;
      height: 100%;
    }
    
    &_text {
      display: block;
      white-space: nowrap;
      font-size: 1.125rem;
      font-weight: $text-bold-weight;
      color: $secondary-text;
    }
  }

  // @media (orientation: landscape) and (max-width: 992px){
  //   width: 70px;
  //   height: 100%;
  // }
}