.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 80%;
  padding-inline: 20px;
  background: $sidebar-bg;
  color: $white;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  z-index: 1000;

  &.open {
    transform: translateX(0%);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.375rem;

    &_title {
      font-size: 1.125rem;
      font-weight: $text-bold-weight;
      color: $secondary-text;
    }
  }

  &__close {
    &_btn {
      display: flex;
      align-items: center;
      background: transparent;
      border: none;
      cursor: pointer;
    }

    &_icon {
      font-size: 1.25rem;
      color: $electric-blue;
    }
  }

  @media (orientation: landscape) {
    width: 45%;
  } 
}