.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: $footer-bg;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.125rem;
    padding-inline: 1.25rem;
  }

  &__link {
    font-weight: $text-medium-weight;
    color: $secondary-text;
    text-decoration: none;
  }

  @media (orientation: landscape) and (max-width: 992px){
    position: relative;
  }
}