.footer {
  background: $footer-bg;
  
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.125rem;
    padding-inline: 1.25rem;
  }

  &__link {
    font-weight: $text-medium-weight;
    color: $secondary-text;
    text-decoration: none;
  }
}